#parallax-image{
  background-image: url('/img/imagen1.jpg');
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}


#parallax-image1{
  background-image: url('/img/imagen2.jpg');
  height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#parallax-image, h1 {
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 25px;
}


p{
  font-family: 'Lobster', cursive;
}
.x{
  font-size: 100px;
  text-decoration: none;

}
h2, h3{
  font-family: 'Permanent Marker', cursive !important;
  text-decoration-line: underline;

}

.texto-marca{
  background-color: #eafffd !important;
}


.nav-link{
  list-style: none;
  color: #383f51 !important;
  font-size: 35px;
}
.nav-link:hover{
  color: white !important;
}
.logogrande{
  height: 50%;
  width: 100%;
}

.container-x{
  padding-top: 100px;
}

.frentelocal{
  height: 350px;
  margin-bottom: 50px;
  padding-left: 7px;
  border-radius: 50px;
}
