<% include partials/head.ejs%>
    <title><%= title %></title>
  </head>
  <body>
        
    <div class="container d-flex justify-content-center">
        <div class="row vh-100 align-items-center  ">
          <div class="col-md-12 justify-content-center">
            
              <h1 class="text-center">Disculpe las molestias, pronto agregaremos las anteriores campañas.</h1>
              <div class="d-flex justify-content-center mt-3">
                <a class="btn btn-outline-danger mt-4  " href="/">Volver</a>
            </div>
            </div>
          
        </div>
      </div>



  </body>


   <!--footer -->
          
   <% include partials/footer.ejs%>