<% include partials/head.ejs%>

    <title><%= title %></title>
  </head>
  <body>
    <div id="parallax-image">
        
      <% include partials/nav.ejs%>
        

        <div class="col-md-12 align-self-center container-x">
            <h2 class="text-center x">x</h2>
            <h1 class="text-center">RiSSel Clothes</h1>
          </div>
  
    </div>
    
    <div class="accordion text-center mb-5" id="accordionExample">
        <h2 class="text-center mt-5 mb-5"> Colecciones </h2>
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h3 class="text-center text-success">Verano</h3>
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100" src="img/verano.jpeg" alt="First slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="img/verano2.jpeg" alt="Second slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="img/verano3.jpeg" alt="Third slide">
                                  </div>
                                </div>
                              </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h3 class="text-center text-success">oto単o</h3>
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100" src="img/oto単o.jpeg" alt="First slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="img/oto単o2.jpeg" alt="Second slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="img/oto単o3.jpeg" alt="Third slide">
                                  </div>
                                </div>
                              </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h3 class="text-center text-success">Invierno</h3>
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100" src="img/invierno.jpeg" alt="First slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="img/invierno2.jpeg" alt="Second slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="img/invierno3.jpeg" alt="Third slide">
                                  </div>
                                </div>
                              </div>
                </div>
              </div>
            </div>
            <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              <h3 class="text-center text-success">Primavera</h3>
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <img class="d-block w-100" src="img/primavera.jpeg" alt="First slide">
                                      </div>
                                      <div class="carousel-item">
                                        <img class="d-block w-100" src="img/primavera2.jpeg" alt="Second slide">
                                      </div>
                                      <div class="carousel-item">
                                        <img class="d-block w-100" src="img/primavera3.jpg" alt="Third slide">
                                      </div>
                                    </div>
                                  </div>
                      </div>
                    </div>
                  </div>
          </div>


      <div id="parallax-image1">
        <div class="row h-100 m-0">
          <div class="col-md-12 align-self-center">
          </div>
        </div>
      </div>
      <div class="container p-0">
          <h2 class="text-center mt-5">Colecciones anteriores</h2>
        <p class="text-center mt-5 mb-5">
            <a href="/enConstruccion" class="btn btn-success">2015</a>
            <a href="/enConstruccion" class="btn btn-success">2016</a>
            <a href="/enConstruccion" class="btn btn-success">2017</a>

        </p>
      </div>
  
     
  
           <!--footer -->

           <% include partials/footer.ejs%>