#parallax-image{
  background-image: url('/img/imagen1.jpg');
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}


#parallax-image1{
  background-image: url('/img/imagen2.jpg');
  height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-video video{
  min-width: 100%;
  min-height: 100%;
}
.header-video{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  overflow: hidden;

 
}
.header-content p{
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

.btn{
  background: #28A745;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  
}

.btn:hover{
  border: 2px solid #000;
}




#parallax-image, h1 {
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 25px;
}


p{
  font-family: 'Roboto', sans-serif;
}
.x{
  font-size: 100px;
  text-decoration: none;

}
h2, h3,h4{
  font-family: 'Permanent Marker', cursive !important;
  text-decoration-line: underline;

}

.texto-marca{
  background-color: #eafffd !important;
}


.nav-link{
  list-style: none;
  color: #383f51 !important;
  font-size: 35px;
}
.nav-link:hover{
  color: white !important;
}
.logogrande{
  height: 50%;
  width: 100%;
}

.container-x{
  padding-top: 80px;
}

.frentelocal{
  height: 350px;
  margin-bottom: 50px;
  padding-left: 7px;
  border-radius: 50px;
}

#footer-principal{
  background-color: #cce6f4;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer-secundario{
  background-color: #8ecaeb;
}

#footer-principal i{
 color: #000;
}
#footer-principal i:hover{
  color: #28A745;
}

.futer{
  text-decoration: none;
}

/*Contacto*/
formBox{
	margin-top: 90px;
	padding: 50px;
}
.formBox  h1{
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 48px;
}
.inputBox{
	position: relative;
	box-sizing: border-box;
	margin-bottom: 50px;
}
.inputBox .inputText{
	position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}
.inputBox .input{
	position: relative;
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,.5);

}
.focus .inputText{
	transform: translateY(-30px);
	font-size: 18px;
	opacity: 1;
	color: #00bcd4;

}
textarea{
	height: 100px !important;
}
.button{
	width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #03A9F4;
    color: #fff;
}
/*/Contacto*/


.container-temporadas{
  background-color: #f0f2ef;
  padding: 50px 0px;
  margin: 0px;
}

/*proximamente*/
.vh-100{
  height: 100vh;
  min-height:100vh;
}
/*proximamente*/


/*mediaquery*/


@media(max-width: 960px) {
  .content{
    padding: 0 3rem;
  }
}